.head a
{
    text-decoration: none;
}


.separator
{
    margin-top: 4px;
    margin-bottom: 0;
}

.right
{
    float: right;
}

.legend
{
    color:#777777;
    font-weight: bold;
    font-size: 10pt;
    margin: 5px 0 5px;
    text-decoration: none;
}