.accordion a
{
    text-decoration: none;
}

.head a
{
    text-decoration: none;
}


.separator
{
    margin-top: 4px;
    margin-bottom: 0;
}

.right
{
    float: right;
}

.legend
{
    color:black;
    font-weight: bold;
    font-size: 10pt;
    margin: 5px 0 5px;
    text-decoration: none;
}

.legend span
{
    text-shadow: none;
}

span.label-text
{
    font-weight: bold;
    margin-right: 10px;
}

#collapse-receptor
{
    max-height: 400px;
    overflow-y: auto;
}