body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#menu
{
    margin: 0;
    padding: 0;
}

#tread
{
    margin-top: 40px;
    padding: 0;
}

#brand
{
    color: #333333;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#breadcrumb
{
    background: #eeeeee;
    margin-bottom: 20px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#page
{
    margin-top: 0;
    margin-bottom: 0;
    background: white;
}

#header
{
    margin: 0;
    padding: 0;
}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8em;
    text-align: center;

    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    /*    min-height: 40px;*/
    padding-left: 20px;
    padding-right: 20px;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

.logbg{
    height:350px;
    background: url(../images/bglog.png) no-repeat;
    background-position: center center;
    margin-top: -40px;
    margin-bottom: -40px;
}


.procedimentos-content tr, .procedimentos-content td, .procedimentos-content table
{
    border: 1px #333333 solid;
}

.procedimento.label
{
    text-align: left;
    color: #333333;
}

.delete
{
    width: 50px;
    text-align: center;
    font-size: 14pt;
}

.header-box i
{
    font-size: 24pt !important;
}

.header-box h3
{
    font-size: 16pt !important;
    vertical-align: middle;
}

.column
{
    width: 49%;
    float: left;
}

.widget-right
{
    background-color: #46474a;
    border: 1px solid #282828;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

    height: auto;
    width: 90px; 
    float: right;
    margin-bottom: 30px;
}
.widget-right ul li{
    color: #fff;
    width: 80px; 
    padding: 20px;
    list-style-type:none;

}
.widget-right ul li a{
    text-decoration: none;

}
.widget-right ul{
    width: 80px; 
    margin: 4px;

}

.widget-right li
{
    margin-left: -19px;
    text-align: center;
}

.widget-right ul li a:hover{
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out ;
    -moz-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ; 
}

.procedimentos-content {
    margin:0px;padding:0px;
    width: 430px;
    border:0px solid #000000;
    margin-left: 180px;

}.procedimentos-content table{
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.procedimentos-content tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.procedimentos-content table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.procedimentos-content table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.procedimentos-content tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.procedimentos-content tr:hover td{

}
.procedimentos-content tr:nth-child(odd){ background-color:#e5e5e5; }
.procedimentos-content tr:nth-child(even)    { background-color:#ffffff; }.procedimentos-content td{
    vertical-align:middle;


    border:1px solid #000000;

    text-align:center;
    padding:7px;

    font: normal 12pt Arial,Helvetica,sans-serif;
    color:#000000;
}.procedimentos-content tr:last-child td{
    border-width:0px 1px 0px 0px;
}.procedimentos-content tr td:last-child{
    border-width:0px 0px 1px 0px;
}.procedimentos-content tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.procedimentos-content thead{
    background:-o-linear-gradient(bottom, #232222 5%, #1e1e1e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #232222), color-stop(1, #1e1e1e) );
    background:-moz-linear-gradient( center top, #232222 5%, #1e1e1e 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#232222", endColorstr="#1e1e1e");	background: -o-linear-gradient(top,#232222,1e1e1e);

    background-color:#232222;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 1px 1px 1px;
    font: normal 10pt Arial,Helvetica,sans-serif;
    color:#ffffff;
} 
.procedimentos-content tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.procedimentos-content tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.clear
{
    clear: both;
}

a.sort-link
{
    color: #EEEEEE;
}

a.view, a.delete, a.update
{
    text-decoration: none !important;
}