/* 
    Document   : pdf
    Created on : 05/11/2013, 15:10:56
    Author     : rodrigo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: #FFFFFF;
}